<footer class="relative bg-blueGray-200 pt-8 pb-6">
    
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap text-center lg:text-left">
        <div class="w-full lg:w-6/12 px-4">
          <h4 class="text-3xl font-semibold">Follow Us </h4>
          <h5 class="text-lg mt-0 mb-2 text-blueGray-600">
            Help us transform the world through business
          </h5>
          <div class="mt-6 lg:mb-0 mb-6">
            <button onclick="window.open('https://www.linkedin.com/company/36019661/admin/', '_blank'); return false;"
              class="bg-white text-lightBlue-400 shadow-lg font-normal h-12 w-12 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
              type="button">
              <img src="https://img.icons8.com/color/240/000000/linkedin.png"/>
            </button>
            <!-- <button
              class="bg-white text-lightBlue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
              type="button">
              <i class="material-icons logo-size">facebook</i>
            </button>
            <button
              class="bg-white text-pink-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
              type="button">
              <i class="material-icons logo-size">facebook</i>
            </button>
            <button
              class="bg-white text-blueGray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
              type="button">
              <i class="material-icons logo-size">facebook</i>
            </button> -->
          </div>
        </div>
        <div class="w-full lg:w-6/12 px-4">
          <div class="flex flex-wrap items-top mb-6">
            <div class="w-full lg:w-4/12 px-4 ml-auto">
              <span class="block uppercase text-blueGray-500 text-md font-semibold mb-2">
                Quick Links
              </span>
              <ul class="list-unstyled">
                <li>
                  <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-nm"
                    href="#">
                    Quick Link 1
                  </a>
                </li>
                <li>
                  <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-nm"
                    href="#">
                    Quick Link 2
                  </a>
                </li>
                <li>
                  <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-nm"
                  href="#">
                  Quick Link 3
                </a>
                </li>
                <li>
                  <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-nm"
                    href="#">
                    Quick Link 4
                  </a>
                </li>
              </ul>
            </div>
            <div class="w-full lg:w-4/12 px-4">
              <span class="block uppercase text-blueGray-500 text-md font-semibold mb-2">
                Other Resources
              </span>
              <ul class="list-unstyled">
                <li>
                  <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-nm"
                    href="#">
                    Other Resources 1
                  </a>
                </li>
                <li>
                  <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-nm"
                  href="#">
                  Other Resources 2
                </a>
                </li>
                <li>
                  <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-nm"
                  href="#">
                  Other Resources 3
                </a>
                </li>
                <li>
                  <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-nm"
                    href="#">
                    Other Resources 4
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <hr class="my-6 border-blueGray-300" />
      <div class="flex flex-wrap items-center md:justify-between justify-center">
        <div class="w-full md:w-4/12 px-4 mx-auto text-center">
          <div class="text-nm text-blueGray-500 font-semibold py-1">
            Copyright © 2021 Welfare Progress
            <!-- <a href="https://www.creative-tim.com?ref=na-footer" class="text-blueGray-500 hover:text-blueGray-800">
              Creative Tim
            </a> -->
            .
          </div>
        </div>
      </div>
    </div>
  </footer>
  