<app-nav></app-nav>







<div fxLayout="row" fxLayoutAlign="space-around center" class="main">
  <div fxFlex="90%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">

    <mat-card fxFlex="50%" fxFlex.sm="100%">
      <mat-card-content class="primary-text">WelfareProgress is an initiative by Global Food Partners, supported by
        leading animal advocacy organisations.
        WelfareProgress is a tool for food businesses to report progress against their cage-free egg commitments.
        Multiple stakeholders use this platform to evaluate corporate progress on this topic.</mat-card-content>

      <div fxLayout="row" fxLayoutAlign="start center">



        <div fxFlex="80%" fxFlex.sm="100%">
          <mat-card-title class="coming-soon">Coming soon...</mat-card-title>
          <mat-card-title class="heading1 soon">View cage-free progress
          </mat-card-title>
          <div class="reports soon">
            <mat-form-field floatLabel="never" appearance="outline" class="company">
              <input matInput placeholder="Enter company name" disabled>
            </mat-form-field>
          </div>
          <div class="reports soon">
            <mat-form-field floatLabel="never" appearance="outline" class="period">
              <mat-select placeholder="Period" disabled>
                <mat-option *ngFor="let period of periods" [value]="period.value">
                  {{period.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-flat-button disabled>Find report</button>
          </div>
        </div>
      </div>

    </mat-card>

    <mat-card fxFlex="100%" fxFlex.sm="100%">
      <mat-card-title class="heading2 ti-35">An initiative supported by</mat-card-title>




      <mat-card-content class="support-logos">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <img src="../assets/img/angular.jpg" alt="THL" height="150px" width="150px">
          <img src="../assets/img/angular.jpg" alt="THL" height="150px" width="150px">
          <img src="../assets/img/angular.jpg" alt="THL" height="150px" width="150px">
        </div>

        <div fxLayout="row" fxLayoutAlign="space-around center">
          <img src="../assets/img/angular.jpg" alt="THL" height="150px" width="150px">
          <img src="../assets/img/angular.jpg" alt="THL" height="150px" width="150px">
        </div>
      </mat-card-content>
    </mat-card>

  </div>
</div>






<hr class="section1-hr main">






<mat-tab-group mat-align-tabs="center" class="pt-16 mb-5">


  <mat-tab label="Why report">

    <div fxLayout="row wrap" fxLayoutAlign="end center" class="py-6">


      <div fxFlex="46%" fxFlex.md="46%" fxFlex.sm="100%" fxFlex.xs="100%" class="px-6 pr-28">

        <hr class="carousel-hr" align="left">
        <h6 class="text-2xl font-bold pt-4">Reduce your reporting burden</h6>
        <p class="mt-2 mb-4 primary-text pt-4">

          The focus of animal advocacy groups is quickly shifting from policy adoption to policy enforcement
          and
          accountability, with both local and global organisations now launching questionnaires, surveys,
          trackers,
          and benchmarking tools to assess progress.
        </p>
        <p class="mt-2 mb-4 primary-text">

          Food and hospitality companies around the world are proactively seeking to report and communicate
          their
          progress to these advocacy groups and other key stakeholders.
        </p>
        <p class="mt-2 mb-4 primary-text">

          WelfareProgress allows companies to publicly showcase their cage-free implementation progress on a
          single platform, and reduce the burden of filling out multiple questionnaires. We have got an
          agreement
          among key animal advocacy organisations to reference this platform in lieu of their individual
          progress
          surveys and questionnaires.
        </p>

        <!-- </div> -->


        <!-- <div fxFlex="70%" fxFlex.sm="100%"> -->

        <hr class="carousel-hr" align="left">

        <h6 class="text-2xl font-bold pt-4">Increase transparency </h6>
        <p class="mt-2 mb-4 primary-text pt-4">
          With hundreds of food businesses around the world committing to go cage-free, it’s now expected
          that
          companies report and disclose their progress on this issue. WelfareProgress helps companies
          demonstrate progress on their cage-free commitments through accurate, thorough and timely
          reporting,
          allowing them to provide credible information to investors, animal advocacy groups, suppliers and
          consumers.
        </p>


      </div>

      <div fxFlex="46.5%" fxFlex.md="46.5%" fxFlex.sm="100%" fxFlex.xs="100%">

        <div class="py-6">
          <img src="../assets/img/tab1.jpg">
        </div>

      </div>
    </div>
  </mat-tab>


  <mat-tab label="About Global Food Partners">

    <div fxLayout="row wrap" fxLayoutAlign="end center" class="py-6">


      <div fxFlex="46%" fxFlex.md="46%" fxFlex.sm="100%" fxFlex.xs="100%" class="px-6 pr-28">

        <hr class="carousel-hr" align="left">
        <h3 class="text-2xl pt-4 font-bold mb-2 font-bold leading-normal">
          Who we are
        </h3>
        <div class="flex mt-4 flex-wrap justify-center">
          <p class="mb-4 primary-text leading-relaxed">
            Global Food Partners is a multinational consulting firm that works with businesses to develop,
            implement and report progress on high animal welfare and responsible sourcing policies to
            improve
            their profitability and sustainability.
          </p>
          <p class="primary-text">
            Our team has a combined 50+ years of corporate and on-farm experience developing and executing
            animal
            welfare policies and production practices, with a focus on cage-free eggs. We’ve worked with
            food
            industry leaders, governments and egg industries globally, including across Latin America and
            Asia,
            to
            transition to and maintain high welfare cage-free supply chains and production systems. Having
            worked
            extensively with animal advocacy organisations, we know the value of transparent communication
            of
            progress to mitigate reputational risks.
          </p>

        </div>


      </div>

      <div fxFlex="46.5%" fxFlex.md="46.5%" fxFlex.sm="100%" fxFlex.xs="100%">

        <div class="py-6">
          <img src="../assets/img/tab2.jpg">
        </div>

      </div>
    </div>
  </mat-tab>

  <!-- <mat-tab label="Who supports us">
      <div class="test2">
        <div class="p">
          <section class="carouselOne">
            <div class="">
              <div class="flex flex-wrap items-center">
                <div fxFlex="90%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%"
                  class=" mr-auto ml-auto bg-green-100 ">
                  <hr class="carousel-hr" align="left">
                  <h6 class="text-2xl pt-4 font-bold mb-2 font-bold leading-normal">
                    Who supports us
                  </h6>
                  <p class="primary-text font-light leading-relaxed mt-4 mb-4 w-text">
                    Leading animal advocacy organisations endorse and support WelfareProgress. To make the reporting
                    process
                    more efficient and streamlined, they’ve agreed to no longer circulate their individual cage-free egg
                    progress surveys and questionnaires, and instead reference this platform for all cage-free related
                    progress
                    information. We’ll continue engaging with these and other stakeholders to ensure ongoing alignment
                    around
                    cage-free reporting.
                  </p>
                  <p class="text-lg font-light leading-relaxed mt-0 mb-4">
                    These organisations include: <br> -logos (THL, MFA, Sinergia, AE, Alianima, Forum)
                  </p>

                </div>

              </div>
            </div>
          </section>
        </div>
      </div>

    </mat-tab> -->



  <mat-tab label="Commitment checklist">

    <div fxLayout="row wrap" fxLayoutAlign="end center" class="py-6">


      <div fxFlex="46%" fxFlex.md="46%" fxFlex.sm="100%" fxFlex.xs="100%" class="px-6 pr-28">

        <hr class="carousel-hr" align="left">

        <h3 class="text-2xl font-bold mt-4 mb-2 leading-normal">
          Commitment checklist
        </h3>
        <p class="mt-4 px-4 text-lg text-blueGray-600 leading-relaxed">
          Does your cage-free egg commitment meet stakeholder expectations?
        </p>



        <ul class="checklist mt-6">
          <li class="check">
            <h4 class="primary-text">
              Clearly states that we will source exclusively cage-free egg throughout supply chain
            </h4>
          </li>
          <li>
            <h4 class="primary-text">Covers all eggs in my supply chain, including shell, egg products
              (liquid, powder, etc.), and food products manufactured by a 3rd party (e.g. pastries)</h4>
          </li>
          <li>
            <h4 class="primary-text">States a deadline – the date by which my entire supply chain
              will be
              cage-free</h4>
          </li>
          <li>
            <h4 class="primary-text">Covers our entire supply chain, including all brands and
              franchises
            </h4>
          </li>
          <li>
            <h4 class="primary-text">Includes a commitment to translate the policy into key local
              languages</h4>
          </li>
          <li>
            <h4 class="primary-text">Includes a commitment to annual public on progress</h4>
          </li>

        </ul>


      </div>

      <div fxFlex="46.5%" fxFlex.md="46.5%" fxFlex.sm="100%" fxFlex.xs="100%">

        <div class="py-6">
          <img src="../assets/img/tab3.jpg">
        </div>

      </div>
    </div>
  </mat-tab>





</mat-tab-group>




<hr class="main">

<div class="main-title mt-10">Frequently Asked Questions</div>
<div fxLayout="row" fxLayoutAlign="space-around center" class="main2">
  <div fxFlex="90%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
    <div class="mb-16">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              1. Why is GFP running welfareprogress.com
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="ans">Mitigating reputational risk is a key service we offer to our clients.
            Having worked extensively with animal advocacy organisations,
            we know the value of transparent communication of progress to mitigate reputational risks.
            The focus of animal advocacy groups is shifting quickly from policy adoption to policy enforcement and
            accountability,
            with global and local groups now launching questionnaires, surveys, trackers,
            and benchmarking tools. Filling out numerous cage-free egg progress surveys and questionnaires is
            overwhelming and time consuming for food businesses. It has become a never-ending task.
            While these surveys all seek to evaluate progress on the same initiative – cage-free eggs-
            they often use different metrics and cover different geographies. We’ve received
            a lot of feedback from the food industry that there is a need for a more centralised and streamlined
            reporting
            process.
            In order to support our clients and the food industry as a whole, we’ve taken this feedback and developed
            this
            platform,
            which aims to make this process more efficient and uniform. We hope this platform offers a solution to
            food
            businesses to efficiently demonstrate their progress and mitigate reputation risk. Please reach out to us
            if we can help
            you
            with this
            reporting process.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              2. What benefits does this platform have for food businesses?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="ans">
            <div class="ans-head"><b>Reduce your reporting burden</b></div>
            The focus of animal advocacy groups is quickly shifting from policy adoption to policy enforcement and
            accountability, with both local and global organisations now launching questionnaires, surveys, trackers,
            and benchmarking tools to assess progress. Food and hospitality companies around the world are proactively
            seeking to report and communicate their progress to these advocacy groups and other key stakeholders.
            WelfareProgress allows companies to publicly showcase their cage-free implementation progress on a single
            platform,
            and reduce the burden of filling out multiple questionnaires. We have got an agreement among key animal
            advocacy
            organisations to reference this platform in lieu of their individual progress surveys and questionnaires.
            <div class="ans-head"><b>Increase transparency</b></div>
            With hundreds of food businesses around the world committing to go cage-free, it’s
            now expected that companies report and disclose their progress on this issue.
            WelfareProgress helps companies demonstrate progress on their cage-free commitments through accurate,
            thorough and timely reporting, allowing them to provide credible information to investors,
            animal advocacy groups, suppliers and consumers.
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              3. What animal advocacy groups endorse this initiative?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="ans">Leading animal advocacy organisations endorse and support WelfareProgress.
            To make the reporting process more efficient and streamlined, they’ve agreed to no longer
            circulate their individual cage-free egg progress surveys and questionnaires, and instead
            reference this platform for all cage-free related progress information. We’ll continue engaging
            with these and other stakeholders to ensure ongoing alignment around cage-free reporting.
            These organisations include The Humane League, Mercy for Animals, Sinergia Animal, and Animal Equality.
            Organisations like Compassion in World Farming and FAIRR also support this platform and will use it as a
            reference
            for their scoring and benchmarking initiatives.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              4. What if I receive a request for reporting cage-free progress through a different questionnaire or
              platform?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="ans">Key animal advocacy organisations have agreed to use WelfareProgress in lieu of individual
            progress
            surveys and questionnaires. Please reach out to us if you receive requests to report through a different
            system,
            and we will be happy to get in touch with that organization.</p>
        </mat-expansion-panel>





        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              5. How do I report my cage-free progress?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="ans">You can report your cage-free implementation progress <a
              href="https://app.welfareprogress.com/#/authentication/signup" target="_blank">here</a>.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              6. What questions will I be asked?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="ans">You can view the <a target="_blank" href="../assets/wp/17_MAY_Questionnaire_EN.docx">questions
              here</a> so that you can prepare your
            data in
            advance. Please note that this is just for your reference. You can report your progress <a
              href="https://app.welfareprogress.com/#/authentication/signup" target="_blank">here</a>.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              7. What if I need help?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="ans">We'd be happy to walk you through the reporting process and answer any questions you have.
            Please reach out to us at <a href="https://team@globalfoodpartners.com"
              target="_blank">team@globalfoodpartners.com</a> for assistance.
          </p>
        </mat-expansion-panel>




      </mat-accordion>
    </div>
  </div>
</div>


<!-- <hr>
  <br>

  <section class="pt-15 relative block">
    <div class="container mx-auto px-4 lg:pt-6 pb-20">
      <div class="flex flex-wrap text-center justify-center">
        <div class="w-full lg:w-6/12 px-4">
          <h2 class="text-3xl main-title">Who we are</h2>
        </div>
      </div>
      <div class="flex flex-wrap mt-12 justify-center">
        <div class="w-full lg:w-4/12 px-4 py-12  card-section">
          <hr class="support-hr" align="left">

          <h6 class="text-2xl mt-5 font-semibold">
            Planning
          </h6>
          <p class="mt-4 mb-4 primary-text text-left">
            we help you develop your policy and sourcing criteria, and localised roadmaps to ensure you meet your
            cage-free targets and stakeholder expectations
          </p>
        </div>
        <div class="w-full lg:w-4/12 px-4 py-12  card-section">
          <hr class="support-hr" align="left">

          <h5 class="text-2xl mt-5 font-semibold">
            Implementation
          </h5>
          <p class="mt-4 mb-4 primary-text text-left">
            we work with you to implement your cage-free roadmaps, so you can meet your animal welfare targets in
            challenging Asianmarkets.
          </p>
        </div>
        <div class="w-full lg:w-4/12 px-4 py-12  card-section">
          <hr class="support-hr" align="left">

          <h5 class="text-2xl mt-5 font-semibold">Support</h5>
          <p class="mt-4 mb-4 primary-text text-left">
            we help you communicate and report your commitments and progress, and narrate your impact story to key
            stakeholders. This platform is one tool we’ve developed to facilitate this. We also provide ongoing
            support
            for egg suppliers, risk management strategies, and regional monitoring.
          </p>
        </div>
      </div>
    </div>
  </section> -->

<hr class="main">



<section class="pt-15 relative block main2">
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="90%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">

      <div class="mx-auto lg:pt-6 pb-16">
        <div class="flex flex-wrap text-center justify-center">
          <div class="w-full lg:w-6/12">
            <h2 class="text-3xl main-title mt-14">An initiative supported by</h2>
          </div>
        </div>
        <div class="flex flex-wrap mt-12 justify-center">
          <div class="w-full lg:w-4/12 py-12 card-section">
            <!-- <hr class="support-hr" align="left"> -->

            <h6 class="text-2xl text-center mt-5 font-semibold">
              <a href="http://globalfoodpartners.org/" target="_blank"
                class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase">
                <img alt="Logo" src="../assets/wp/rectangulo letra negra fondo trasparente (1) (1).png" width="300">
              </a>
            </h6>



            <p class="mt-5 mb-4 primary-text text-left">
              <q>We believe that reporting on progress is an essential step to make sure cage-free policies are
                followed.
                We
                have been working with companies in Latin America and launched reports to share more about companies’
                progress in the region. We will be doing the same in Asia. We are happy to see a new platform that will
                centralize questionnaires and reporting from companies, so we decided to start sharing this new
                questionnaire with companies. We’ll create regional reports using the public data available on
                <a href="http://welfareprogress.com" target="_blank">welfareprogress.com</a>.</q>
              <br><br>
              <span class="ceo">- Carolina Galvani, CEO, Sinergia Animal</span>
            </p>
          </div>
          <div class="w-full lg:w-4/12 px-4 py-12  card-section">
              <!-- <hr class="support-hr" align="left"> -->
  
              <h6 class="text-2xl text-center mt-5 font-semibold">
                <a href="http://globalfoodpartners.org/" target="_blank"
                  class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase">
                  <img alt="Logo" src="../assets/wp/animal equity.jpg" width="300">
                </a>
              </h6>
  
  
  
              <p class="mt-5 mb-4 primary-text text-left">
                <q>At a time when transparency is more important than ever to consumers, WelfareProgress.com 
                  provides a centralized place for people to see how their favorite companies are measuring up 
                  on their promises to get hens out of cages. Animal Equality plans to work with over a hundred 
                  companies worldwide to start publishing their progress on the platform.</q>
                <br><br>
                <span class="ceo">- Katie Arth, International Director of Corporate Outreach, Animal Equality</span>
              </p>
          </div>
          <div class="w-full lg:w-4/12 px-4 py-12  card-section">
            <!-- <hr class="support-hr" align="left"> -->


            <h6 class="text-2xl text-center mt-5 font-semibold">
              <a href="http://globalfoodpartners.org/" target="_blank"
                class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase">
                <img alt="Logo" src="../assets/wp/MercyforAnimals_PrimaryLockup_RGB (2).png" width="300">
              </a>
            </h6>



            <p class="mt-5 mb-4 primary-text text-left">
              <q>Mercy For Animals supports the comprehensive, uniform cage-free egg progress reporting enabled 
                by WelfareProgress.com. As we encourage transparency on corporate animal welfare goals through 
                initiatives like Monitor de Iniciativas Corporativas por los Animales, this tool streamlines 
                reporting expectations and formats to help the world transition away from the cruel caging of laying hens.</q>
              <br><br>
              <span class="ceo">- Zoë Sigle, Global Corporate Engagement Manager at Mercy For Animals

              </span>
            </p>
        </div>
         
           
        </div>


        
      </div>
    </div>
  </div>
</section>
<hr class="main">








<app-footer></app-footer>
