


<app-nav></app-nav>
<div class="main">



  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center">
    <mat-card fxFlex="45%" fxFlex.sm="100%">
        <mat-card-title class="heading1">View Cage-free Progress</mat-card-title>

      <mat-card-content>
        <div class="reports">
          <mat-form-field floatLabel="never" appearance="outline" class="company">
            <input matInput placeholder="Enter company name or part of it">
          </mat-form-field>
        </div>
        <div class="reports">
          <mat-form-field floatLabel="never" appearance="outline" class="period">
            <mat-select placeholder="Period">
              <mat-option *ngFor="let period of periods" [value]="period.value">
                {{period.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-flat-button>Find Report</button>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="45%" fxFlex.sm="100%">
      <mat-card-header>
        <mat-card-title class="support-title">WelfareProgress is an initiative by Global Food Partners, supported by leading animal advocacy organisations. 
          WelfareProgress is a tool for food businesses to report progress against their cage-free egg commitments. 
          Multiple stakeholders use this platform to evaluate corporate progress on this topic.</mat-card-title>
          <mat-card-title class="heading2">Supported by :</mat-card-title>
      </mat-card-header>
      <mat-card-content class="support-logos">
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <img src="../assets/img/angular.jpg" alt="THL" height="150px" width="150px">
          <img src="../assets/img/angular.jpg" alt="THL" height="150px" width="150px">
          <img src="../assets/img/angular.jpg" alt="THL" height="150px" width="150px">
        </div>

        <div fxLayout="row" fxLayoutAlign="space-around center">
          <img src="../assets/img/angular.jpg" alt="THL" height="150px" width="150px">
          <img src="../assets/img/angular.jpg" alt="THL" height="150px" width="150px">
        </div>
      </mat-card-content>
    </mat-card>
  </div>



  <hr class="section1-hr">



  <div class="carousel-main">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide dotContent="content1">
        <section>
          <div fxLayout="row" fxLayoutAlign="space-around center">
            <div fxFlex="70%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
              <hr class="carousel-hr" align="left">
                    <h6 class="text-xl font-semibold pt-4">Reduce your reporting burden</h6>
                    <p class="mt-2 mb-4 primary-text pt-4">


                      The focus of animal advocacy groups is quickly shifting from policy adoption to policy enforcement
                      and
                      accountability, with both local and global organisations nowlaunching questionnaires, surveys,
                      trackers,
                      and benchmarking tools to assess progress.
                    </p>
                    <p class="mt-2 mb-4 primary-text">


                      Food and hospitality companies around the world are proactively seeking to report and communicate
                      their
                      progress to these advocacy groups and other key stakeholders.
                    </p>
                    <p class="mt-2 mb-4 primary-text">


                      WelfareProgress allows companies to publicly showcase their cage-free implementation progress on a
                      single platform, and reduce the burden of filling out multiple questionnaires. We have got an
                      agreement
                      among key animal advocacy organisations to reference this platform in lieu of their individual
                      progress
                      surveys and questionnaires.
                    </p>

                  <!-- </div> -->
                 

                <!-- <div fxFlex="70%" fxFlex.sm="100%"> -->

                  <hr class="carousel-hr" align="left">
            
                    <h6 class="text-xl font-semibold pt-4">Increase transparency </h6>
                    <p class="mt-2 mb-4 primary-text pt-4">

                      With hundreds of food businesses around the world committing to go cage-free, it’s now expected
                      that
                      companies report and disclose their progress on this issue. WelfareProgress helps companies
                      demonstrate progress on their cage-free commitments through accurate, thorough and timely
                      reporting,
                      allowing them to provide credible information to investors, animal advocacy groups, suppliers and
                      consumers.
                    </p>

                  </div>
                </div>
                
        </section>
      </ng-template>

      <ng-template carouselSlide dotContent="content2">
        <section >
          <div class="p-14">
            <div class="flex flex-wrap items-center">
              <div class="w-full md:w-8/12 px-4 mr-auto ml-auto bg-green-100 " >
                <h3 class="text-3xl mb-2 font-semibold leading-normal">
                  Who supports us
                </h3>
                <p class="primary-text font-light leading-relaxed mt-4 mb-4">

                  Leading animal advocacy organisations endorse and support WelfareProgress. To make the reporting
                  process
                  more efficient and streamlined, they’ve agreed to no longer circulate their individual cage-free egg
                  progress surveys and questionnaires, and instead reference this platform for all cage-free related
                  progress
                  information. We’ll continue engaging with these and other stakeholders to ensure ongoing alignment
                  around
                  cage-free reporting.
                </p>
                <p class="text-lg font-light leading-relaxed mt-0 mb-4">
                  These organisations include: <br> -logos (THL, MFA, Sinergia, AE, Alianima, Forum)
                </p>

              </div>

            </div>
          </div>
        </section>
      </ng-template>



      <ng-template carouselSlide dotContent="content3">
        <section >
          <div class="p-14">
            <div class="flex flex-wrap items-center">
              <div class="w-full md:w-8/12 px-4 mr-auto ml-auto bg-green-100 " >

                <h3 class="text-3xl mb-2 font-semibold leading-normal">
                Who We Are
                </h3>
                <div class="flex flex-wrap justify-center">
                  <div class="">
                    <p class="mb-4 primary-text leading-relaxed tx-white">

                      Global Food Partners is a multinational consulting firm that works with businesses todevelop,
                      implement and report progress on high animal welfare and responsible sourcing policies to improve
                      their profitability and sustainability.
                    </p>
                    <p class="primary-text">

                      Our team has a combined 50+ years of corporate and on-farm experience developing and executing
                      animal
                      welfare policies and production practices, with a focus on cage-free eggs. We’ve worked with food
                      industry leaders, governments and egg industries globally, including across Latin America and Asia,
                      to
                      transition to and maintain high welfare cage-free supply chains and production systems. Having
                      worked
                      extensively with animal advocacy organisations, we know the value of transparent communication of
                      progress to mitigate reputational risks
                    </p>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </section>
      </ng-template>


      <ng-template carouselSlide dotContent="content4">
        <section >
     

          <div class="p-14">
          <div fxLayout="row" fxLayoutAlign="space-around center">
            <div fxFlex="70%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">


                <h3 class="text-3xl px-4 mb-2 font-semibold leading-normal">
                  Commitment Checklist
                </h3>
                <p class="mt-4 px-4 text-lg text-blueGray-600 leading-relaxed">
                  Does your cage-free egg commitment meet stakeholder expectations?
                </p>



                <ul class="checklist mt-6">
                  <li class="check">
                    <h4 class="primary-text">
                    Clearly states that we will source exclusively cage-free egg throughout supplychain
                  </h4> </li>
                  <li>
                    <h4 class="primary-text">Covers all eggs in my supply chain, including shell, egg products
                    (liquid, powder, etc.), and food products manufactured by a 3rd party (e.g. pastries)</h4>
                </li>
                  <li>
                    <h4 class="primary-text">States a deadline – the date by which my entire supply chain
                      will be
                      cage-free</h4>
                  </li>
                  <li>
                    <h4 class="primary-text">Covers our entire supply chain, including all brands and
                      franchises
                    </h4>
                  </li>
                  <li>
                    <h4 class="primary-text">Includes a commitment to translate the policy into key local
                      languages</h4>
                  </li>
                  <li>
                    <h4 class="primary-text">Includes a commitment to annual public on progress</h4>
                  </li>
                  
                  </ul>

            </div>
          </div>
          </div>

        </section>
      </ng-template>
    </owl-carousel-o>
  </div>
  <hr>



  <mat-tab-group mat-align-tabs="center" class="pt-20">
    <mat-tab label="Who are we">
      <section>
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <div fxFlex="70%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">
            <hr class="carousel-hr" align="left">
                  <h6 class="text-xl font-semibold pt-4">Reduce your reporting burden</h6>
                  <p class="mt-2 mb-4 primary-text pt-4">

                    The focus of animal advocacy groups is quickly shifting from policy adoption to policy enforcement
                    and
                    accountability, with both local and global organisations nowlaunching questionnaires, surveys,
                    trackers,
                    and benchmarking tools to assess progress.
                  </p>
                  <p class="mt-2 mb-4 primary-text">

                    Food and hospitality companies around the world are proactively seeking to report and communicate
                    their
                    progress to these advocacy groups and other key stakeholders.
                  </p>
                  <p class="mt-2 mb-4 primary-text">

                    WelfareProgress allows companies to publicly showcase their cage-free implementation progress on a
                    single platform, and reduce the burden of filling out multiple questionnaires. We have got an
                    agreement
                    among key animal advocacy organisations to reference this platform in lieu of their individual
                    progress
                    surveys and questionnaires.
                  </p>

                <!-- </div> -->
               

              <!-- <div fxFlex="70%" fxFlex.sm="100%"> -->

                <hr class="carousel-hr" align="left">
          
                  <h6 class="text-xl font-semibold pt-4">Increase transparency </h6>
                  <p class="mt-2 mb-4 primary-text pt-4">
                    With hundreds of food businesses around the world committing to go cage-free, it’s now expected
                    that
                    companies report and disclose their progress on this issue. WelfareProgress helps companies
                    demonstrate progress on their cage-free commitments through accurate, thorough and timely
                    reporting,
                    allowing them to provide credible information to investors, animal advocacy groups, suppliers and
                    consumers.
                  </p>

                </div>
              </div>
              
      </section>
    </mat-tab>
    <mat-tab label="Who supports us">
      <section >
        <div class="p-14">
          <div class="flex flex-wrap items-center">
            <div class="w-full md:w-8/12 px-4 mr-auto ml-auto bg-green-100 " >
              <h3 class="text-3xl mb-2 font-semibold leading-normal">
                Who supports us
              </h3>
              <p class="primary-text font-light leading-relaxed mt-4 mb-4">
                Leading animal advocacy organisations endorse and support WelfareProgress. To make the reporting
                process
                more efficient and streamlined, they’ve agreed to no longer circulate their individual cage-free egg
                progress surveys and questionnaires, and instead reference this platform for all cage-free related
                progress
                information. We’ll continue engaging with these and other stakeholders to ensure ongoing alignment
                around
                cage-free reporting.
              </p>
              <p class="text-lg font-light leading-relaxed mt-0 mb-4">
                These organisations include: <br> -logos (THL, MFA, Sinergia, AE, Alianima, Forum)
              </p>

            </div>

          </div>
        </div>
      </section>
    </mat-tab>
    <mat-tab label="Who are you">
      <section >
        <div class="p-14">
          <div class="flex flex-wrap items-center">
            <div class="w-full md:w-8/12 px-4 mr-auto ml-auto bg-green-100 " >
              <h3 class="text-3xl mb-2 font-semibold leading-normal">
              Who We Are
              </h3>
              <div class="flex flex-wrap justify-center">
                <div class="">
                  <p class="mb-4 primary-text leading-relaxed tx-white">
                    Global Food Partners is a multinational consulting firm that works with businesses todevelop,
                    implement and report progress on high animal welfare and responsible sourcing policies to improve
                    their profitability and sustainability.
                  </p>
                  <p class="primary-text">
                    Our team has a combined 50+ years of corporate and on-farm experience developing and executing
                    animal
                    welfare policies and production practices, with a focus on cage-free eggs. We’ve worked with food
                    industry leaders, governments and egg industries globally, including across Latin America and Asia,
                    to
                    transition to and maintain high welfare cage-free supply chains and production systems. Having
                    worked
                    extensively with animal advocacy organisations, we know the value of transparent communication of
                    progress to mitigate reputational risks
                  </p>
                </div>

              </div>

            </div>

          </div>
        </div>
      </section>
    </mat-tab>
    <mat-tab label="Commitment Checklist">
      <section >
     

        <div class="p-14">
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <div fxFlex="70%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">


              <h3 class="text-3xl px-4 mb-2 font-semibold leading-normal">
                Commitment Checklist
              </h3>
              <p class="mt-4 px-4 text-lg text-blueGray-600 leading-relaxed">
                Does your cage-free egg commitment meet stakeholder expectations?
              </p>



              <ul class="checklist mt-6">
                <li class="check">
                  <h4 class="primary-text">
                  Clearly states that we will source exclusively cage-free egg throughout supplychain
                </h4> </li>
                <li>
                  <h4 class="primary-text">Covers all eggs in my supply chain, including shell, egg products
                  (liquid, powder, etc.), and food products manufactured by a 3rd party (e.g. pastries)</h4>
              </li>
                <li>
                  <h4 class="primary-text">States a deadline – the date by which my entire supply chain
                    will be
                    cage-free</h4>
                </li>
                <li>
                  <h4 class="primary-text">Covers our entire supply chain, including all brands and
                    franchises
                  </h4>
                </li>
                <li>
                  <h4 class="primary-text">Includes a commitment to translate the policy into key local
                    languages</h4>
                </li>
                <li>
                  <h4 class="primary-text">Includes a commitment to annual public on progress</h4>
                </li>
                
                </ul>

          </div>
        </div>
        </div>

      </section>
    </mat-tab>
  </mat-tab-group>


  <div class="faq">Frequently Asked Questions</div>



<hr>

  <div class="main-title">Frequently Asked Questions</div>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="70%" fxFlex.md="100%" fxFlex.sm="100%" fxFlex.xs="100%">

      <div class="mb-20">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                1. Why is GFP running welfareprogress.com
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="ans">Mitigating reputational risk is a key service we offer to our clients.
              Having worked extensively with animal advocacy organisations,
              we know the value of transparent communication of progress to mitigate reputational risks.
              The focus of animal advocacy groups is shifting quickly from policy adoption to policy enforcement and
              accountability,
              with global and local groups now launching questionnaires, surveys, trackers,
              and benchmarking tools.Filling out numerous cage-free egg progress surveys and questionnaires is
              overwhelming and time consuming for food businesses. It has become a never-ending task.
              While these surveys all seek to evaluate progress on the same initiative – cage-free eggs-
              they often use different metrics and cover different geographies. We’ve received
              a lot of feedback from the food industry that there is a need for a more centralised and streamlined reporting
              process.
              In order to support our clients and the food industry as a whole, we’ve taken this feedback and developed this
              platform,
              which aims to make this process more efficient and uniform.We hope this platform offers a solution to food
              businessesto
              efficiently demonstratetheir progress and mitigate reputation risk.Please reach out to us if we can help you

              with this
              reporting process.</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                2. What benefits does this platform have for food businesses?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="ans">
              <div class="ans-head"><b>Reduce your reporting burden</b></div>
              The focus of animal advocacy groups is quickly shifting from policy adoption to policy enforcement and
              accountability, with both local and global organisations nowlaunching questionnaires, surveys, trackers,
              and benchmarking tools to assess progress.Food and hospitality companies around the world are proactively
              seeking to report and communicate their progress to these advocacy groups and other key stakeholders.
              WelfareProgress allows companies to publicly showcase their cage-free implementation progress on a single
              platform,
              and reduce the burden of filling out multiple questionnaires. We have got an agreement among key animal
              advocacy
              organisations to reference this platform in lieu of their individual progress surveys and questionnaires.
              <div class="ans-head"><b>Increase transparency</b></div>
              With hundreds of food businesses around the world committing to go cage-free, it’s
              now expected that companies report and disclose their progress on this issue.
              WelfareProgress helps companies demonstrate progress on their cage-free commitments through accurate,
              thorough and timely reporting, allowing them to provide credible information to investors,
              animal advocacy groups, suppliers and consumers.
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                3. What animal advocacy groups endorse this initiative?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="ans">Leading animal advocacy organisations endorse and support WelfareProgress.
              To make the reporting process more efficient and streamlined, they’ve agreed to no longer
              circulate their individual cage-free egg progress surveys and questionnaires, and instead
              reference this platform for all cage-free related progress information. We’ll continue engaging
              with these and other stakeholders to ensure ongoing alignment around cage-free reporting.
              These organisations include The Humane League, Mercy for Animals, Sinergia Animal, and Animal Equality.
              Organisations like Compassion in World Farming and FAIRR also support this platform and will use it as a
              reference
              for their scoring and benchmarking initiatives.</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                4. What if I receive a request for reporting cage-free progress through a different questionnaire or
                platform?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="ans">Key animal advocacy organisations have agreed to use WelfareProgress in lieu of individual
              progress
              surveys and questionnaires. Please reach out to us if you receiverequests to report through a different
              system,
              and we will be happy to get in touch with that organization.</p>
          </mat-expansion-panel>





          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                5. How do I report my cage-free progress?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="ans">You can report your cage-free implementation progress here (link it to "report progress" registration page).</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                6. What questions will I be asked?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="ans">You can view the questions here [insert pdf questionnaire link] so that you can prepare your data in 
              advance. Please note that this is just for your reference. You can report your progress here (link to "report 
              progress" registration page).</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                7. What if I need help?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="ans">We'd be happy to walk you through the reporting process and answer any questions you have. Please reach out to us at [help link] for assistance.
            </p>
          </mat-expansion-panel>




        </mat-accordion>
      </div>
    </div>
  </div>


<hr>


  <section class="pt-20 relative block">
    <div class="container mx-auto px-4 lg:pt-6 pb-20">
      <div class="flex flex-wrap text-center justify-center">
        <div class="w-full lg:w-6/12 px-4">
          <h2 class="text-3xl main-title">Who supports us</h2>
        </div>
      </div>
      <div class="flex flex-wrap mt-12 justify-center">
        <div class="w-full lg:w-3/12 px-4 py-12 text-center card-section">
          
          <h6 class="text-xl mt-5 font-semibold">
            Planning
          </h6>
          <p class="mt-4 mb-4 primary-text text-left">

            we help you develop your policy and sourcing criteria, and localised roadmaps to ensure you meet your
            cage-free targets and stakeholder expectations
          </p>
        </div>
        <div class="w-full lg:w-3/12 px-4 py-12 text-center card-section">
         
          <h5 class="text-xl mt-5 font-semibold">
            Implementation
          </h5>
          <p class="mt-4 mb-4 primary-text text-left">

            we work with you to implement your cage-free roadmaps, so you can meet your animal welfare targets in
            challenging Asianmarkets.
          </p>
        </div>
        <div class="w-full lg:w-3/12 px-4 py-12 text-center card-section">
          
          <h5 class="text-xl mt-5 font-semibold">Support</h5>
          <p class="mt-4 mb-4 primary-text text-left">

            we help youcommunicate andreport yourcommitments andprogress, and narrate your impact story to key
            stakeholders. This platform is one tool we’ve developed to facilitate this. We also provide ongoing
            support
            for egg suppliers, risk management strategies, and regional monitoring.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>


