.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.faq{
  margin-top: 60px;
  text-align: center;
  color: #61C9A8;
  font-weight: bold;
  font-size: 30px;
  padding: 15px 0;
}

mat-panel-title{
  font-weight: 500;
  color: #333;
}

.ans{
  color: #666;
  text-align: justify;
  line-height: 1.6;
  padding: 0 30px;
}

.report{
  padding: 80px;
}

.ans-head{
  margin: 10px 0 5px 0;
}

.mat-expansion-panel:not([class*='mat-elevation-z']) {
  box-shadow: none;
}

.company {
  width: 100%;
}

/* input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.box {
  border: 1px solid #ccc;
  font-size: 18px;
  color: #1c87c9;
}
 */

 ::ng-deep .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
  transform: translateY(0) !important;
}



::ng-deep .mat-form-field-infix {
  border-top: .3em solid transparent !important;
}


::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: #61C9A8;
}


.heading{
  font-weight: 600;
  font-size: 28px;
}

.heading2{
  text-align: center;
  font-weight: 600;
  font-size: 28px;
}

button{
  border-radius: 0%;
  outline: none;
  width: 30%;
  color: white;
  font-weight: 400;
  background-color: #61C9A8;
  height: 45px;
  margin-bottom: 18px;
}

::ng-deep .mat-form-field-outline-start,
::ng-deep .mat-form-field-outline-end {
    border-radius: 0px !important;
}

hr {
  margin-top: 100px;
  width: 95%;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
  background-color: #61C9A8;
  border: 0 none;
}

.card-border{
  border: 2px solid #61C9A8;
  border-radius: 12px;
  margin: 14px;
}

.logo-size{
  font-size: 50px;
}

::ng-deep .mat-card{
  margin: 20px;
  border:none !important;
  transition: none !important;
  box-shadow: none !important;
}

.reports{
  padding: 10px 80px;
}




.period{
  width: 70%;
}



.slide-container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 86%;
  height: 500px;
}


.image:after {
  display: block;
  margin-left: auto;
  margin-right: auto;
  content:'\A';
  position:absolute;
  width:86%;
  height:100%;
  top:0; left:7%;
  background:rgba(0,0,0,0.6);
  opacity:0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  opacity:1;
}

::ng-deep .owl-carousel .owl-item img{
  display: block;
  width: 86%;
}


.containerrr .box {
  display : flex;
  flex-direction : row;
  
  }

  
.carousel-main{
  margin-top: 100px;
}