<app-nav></app-nav>
<div class="main">




  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center">
    <mat-card fxFlex="45%" fxFlex.sm="100%">
      <mat-card-header fxLayoutAlign="space-around center">
        <mat-card-title class="heading">Search Reports</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="reports">
          <mat-form-field floatLabel="never" appearance="outline" class="company">
            <input matInput placeholder="Enter company name or part of it">
          </mat-form-field>
        </div>
        <div class="reports">
          <mat-form-field floatLabel="never" appearance="outline" class="period">
            <mat-select placeholder="Period">
              <mat-option *ngFor="let period of periods" [value]="period.value">
                {{period.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-flat-button>Find Report</button>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="45%" fxFlex.sm="100%">
      <mat-card-header>
        <mat-card-title class="heading2">Supported by :</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <img src="../assets/img/angular.jpg" alt="THL" height="150px" width="150px">
          <img src="../assets/img/angular.jpg" alt="THL" height="150px" width="150px">
          <img src="../assets/img/angular.jpg" alt="THL" height="150px" width="150px">
        </div>

        <div fxLayout="row" fxLayoutAlign="space-around center">
          <img src="../assets/img/angular.jpg" alt="THL" height="150px" width="150px">
          <img src="../assets/img/angular.jpg" alt="THL" height="150px" width="150px">
        </div>
      </mat-card-content>
    </mat-card>
  </div>



  <hr>
  <div class="carousel-main">
    <owl-carousel-o [options]="customOptions">
      <!-- <ng-template carouselSlide>
        <div class="slide-container">
          <span class="image">
            <img src="../assets/img/slide2.jpeg" alt="Snow" class="img-center"></span>
          <div class="centered">
            <div class="px-6">
              <div class="text-center">
                <h3 class="text-4xl font-semibold leading-normal tx-white-700 mb-2">
                  Who We Are
                </h3>
              </div>
              <div class="flex flex-wrap justify-center">
                <div class="">
                  <p class="mb-4 text-lg leading-relaxed tx-white">
                    Global Food Partners is a multinational consulting firm that works with businesses todevelop,
                    implement and report progress on high animal welfare and responsible sourcing policies to improve
                    their profitability and sustainability.
                  </p>
                  <p>
                    Our team has a combined 50+ years of corporate and on-farm experience developing and executing
                    animal
                    welfare policies and production practices, with a focus on cage-free eggs. We’ve worked with food
                    industry leaders, governments and egg industries globally, including across Latin America and Asia,
                    to
                    transition to and maintain high welfare cage-free supply chains and production systems. Having
                    worked
                    extensively with animal advocacy organisations, we know the value of transparent communication of
                    progress to mitigate reputational risks
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template> -->

      <ng-template carouselSlide>
        <section style="background-color: rgba(209, 250, 229);">
          <div  class="container mx-auto p-4">
            <div class="flex flex-wrap">
              <div class="pt-6 md:w-6/12 px-4 text-center">
                <div
                  class="relative h-full flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                  <div class="px-4 py-5 flex-auto">
                    <div
                      class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-emerald-400">
                      <i class="fas fa-fingerprint"></i>
                    </div>
                    <h6 class="text-xl font-semibold">Reduce your reporting burden</h6>
                    <p class="mt-2 mb-4 text-blueGray-500">

                      The focus of animal advocacy groups is quickly shifting from policy adoption to policy enforcement
                      and
                      accountability, with both local and global organisations nowlaunching questionnaires, surveys,
                      trackers,
                      and benchmarking tools to assess progress.
                    </p>
                    <p class="mt-2 mb-4 text-blueGray-500">

                      Food and hospitality companies around the world are proactively seeking to report and communicate
                      their
                      progress to these advocacy groups and other key stakeholders.
                    </p>
                    <p class="mt-2 mb-4 text-blueGray-500">

                      WelfareProgress allows companies to publicly showcase their cage-free implementation progress on a
                      single platform, and reduce the burden of filling out multiple questionnaires. We have got an
                      agreement
                      among key animal advocacy organisations to reference this platform in lieu of their individual
                      progress
                      surveys and questionnaires.
                    </p>
                  </div>
                </div>
              </div>

              <div class="pt-6 md:w-6/12 px-4 text-center">
                <div
                  class="relative h-full flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
                  <div class="px-4 py-5 flex-auto">
                    <div
                      class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-emerald-400">
                      <i class="fas fa-fingerprint"></i>
                    </div>
                    <h6 class="text-xl font-semibold">Increase transparency </h6>
                    <p class="mt-2 mb-4 text-blueGray-500">
                      With hundreds of food businesses around the world committing to go cage-free, it’s now expected
                      that
                      companies report and disclose their progress on this issue. WelfareProgress helps companies
                      demonstrate progress on their cage-free commitments through accurate, thorough and timely
                      reporting,
                      allowing them to provide credible information to investors, animal advocacy groups, suppliers and
                      consumers.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </ng-template>

      <ng-template carouselSlide>
        <section >
          <div style="background-color: rgba(209, 250, 229);" class="p-14">
            <div class="flex flex-wrap items-center">
              <div class="w-full md:w-8/12 px-4 mr-auto ml-auto bg-green-100 " >
                <div
                  class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white">
                  <i class="fas fa-user-friends text-xl"></i>
                </div>
                <h3 class="text-3xl mb-2 font-semibold leading-normal">
                  Who supports us
                </h3>
                <p class="text-lg font-light leading-relaxed mt-4 mb-4 text-blueGray-600">
                  Leading animal advocacy organisations endorse and support WelfareProgress. To make the reporting
                  process
                  more efficient and streamlined, they’ve agreed to no longer circulate their individual cage-free egg
                  progress surveys and questionnaires, and instead reference this platform for all cage-free related
                  progress
                  information. We’ll continue engaging with these and other stakeholders to ensure ongoing alignment
                  around
                  cage-free reporting.
                </p>
                <p class="text-lg font-light leading-relaxed mt-0 mb-4 text-blueGray-600">
                  These organisations include: <br> -logos (THL, MFA, Sinergia, AE, Alianima, Forum)
                </p>

              </div>

            </div>
          </div>
        </section>
      </ng-template>



      <ng-template carouselSlide>
        <section >
          <div style="background-color: rgba(209, 250, 229);" class="p-14">
            <div class="flex flex-wrap items-center">
              <div class="w-full md:w-8/12 px-4 mr-auto ml-auto bg-green-100 " >
                <div
                  class="text-blueGray-500 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-white">
                  <i class="fas fa-user-friends text-xl"></i>
                </div>
                <h3 class="text-3xl mb-2 font-semibold leading-normal">
                Who We Are
                </h3>
                <div class="flex flex-wrap justify-center">
                  <div class="">
                    <p class="mb-4 text-lg leading-relaxed tx-white">
                      Global Food Partners is a multinational consulting firm that works with businesses todevelop,
                      implement and report progress on high animal welfare and responsible sourcing policies to improve
                      their profitability and sustainability.
                    </p>
                    <p>
                      Our team has a combined 50+ years of corporate and on-farm experience developing and executing
                      animal
                      welfare policies and production practices, with a focus on cage-free eggs. We’ve worked with food
                      industry leaders, governments and egg industries globally, including across Latin America and Asia,
                      to
                      transition to and maintain high welfare cage-free supply chains and production systems. Having
                      worked
                      extensively with animal advocacy organisations, we know the value of transparent communication of
                      progress to mitigate reputational risks
                    </p>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </section>
      </ng-template>


      <ng-template carouselSlide>
        <section >
          <div style="background-color: rgba(209, 250, 229);" class="p-14">
            <div class="flex flex-wrap items-center">
              <div class="w-full md:w-8/12 px-4 mr-auto ml-auto bg-green-100 " >

                <h3 class="text-3xl mb-2 font-semibold leading-normal">
                  Commitment Checklist
                </h3>
                <p class="mt-4 text-lg text-blueGray-600 leading-relaxed">
                  Does your cage-free egg commitment meet stakeholder expectations?
                </p>
                <ul class="list-none mt-6">
                  <li class="py-2">
                    <div class="flex items-center">
                      <div>
                        <span
                          class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3">
                          <i class="fas fa-fingerprint"></i>
                        </span>
                      </div>
                      <div>
                        <h4>
                          Clearly states that we will source exclusively cage-free egg throughout supplychain
                        </h4>
                      </div>
                    </div>
                  </li>
                  <li class="py-2">
                    <div class="flex items-center">
                      <div>
                        <span
                          class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3">
                          <i class="fab fa-html5"></i>
                        </span>
                      </div>
                      <div>
                        <h4>Covers all eggs in my supply chain, including shell, egg products
                          (liquid, powder, etc.), and food products manufactured by a 3rd party (e.g. pastries)</h4>
                      </div>
                    </div>
                  </li>
                  <li class="py-2">
                    <div class="flex items-center">
                      <div>
                        <span
                          class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3">
                          <i class="far fa-paper-plane"></i>
                        </span>
                      </div>
                      <div>
                        <h4>States a deadline – the date by which my entire supply chain
                          will be
                          cage-free</h4>
                      </div>
                    </div>
                  </li>
                  <li class="py-2">
                    <div class="flex items-center">
                      <div>
                        <span
                          class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3">
                          <i class="far fa-paper-plane"></i>
                        </span>
                      </div>
                      <div>
                        <h4>Covers our entire supply chain, including all brands and
                          franchises
                        </h4>
                      </div>
                    </div>
                  </li>
                  <li class="py-2">
                    <div class="flex items-center">
                      <div>
                        <span
                          class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3">
                          <i class="far fa-paper-plane"></i>
                        </span>
                      </div>
                      <div>
                        <h4>Includes a commitment to translate the policy into key local
                          languages</h4>
                      </div>
                    </div>
                  </li>
                  <li class="py-2">
                    <div class="flex items-center">
                      <div>
                        <span
                          class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-red-600 bg-red-200 mr-3">
                          <i class="far fa-paper-plane"></i>
                        </span>
                      </div>
                      <div>
                        <h4>Includes a commitment to annual public on progress</h4>
                      </div>
                    </div>
                  </li>
                </ul>

              </div>

            </div>
          </div>
        </section>
      </ng-template>






    </owl-carousel-o>
  </div>

  <hr>

  <div class="faq">Frequently Asked Questions</div>

  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="70%" fxFlex.sm="100%">
      <div class="mb-20">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                1. Why is GFP running welfareprogress.com
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="ans">Mitigating reputational risk is a key service we offer to our clients.
              Having worked extensively with animal advocacy organisations,
              we know the value of transparent communication of progress to mitigate reputational risks.
              The focus of animal advocacy groups is shifting quickly from policy adoption to policy enforcement and
              accountability,
              with global and local groups now launching questionnaires, surveys, trackers,
              and benchmarking tools.Filling out numerous cage-free egg progress surveys and questionnaires is
              overwhelming and time consuming for food businesses. It has become a never-ending task.
              While these surveys all seek to evaluate progress on the same initiative – cage-free eggs-
              they often use different metrics and cover different geographies. We’ve received
              a lot of feedback from the food industry that there is a need for a more centralised and streamlined
              reporting
              process.
              In order to support our clients and the food industry as a whole, we’ve taken this feedback and developed
              this
              platform,
              which aims to make this process more efficient and uniform.We hope this platform offers a solution to food
              businessesto
              efficiently demonstratetheir progress and mitigate reputation risk.Please reach out to us if we can help
              you
              with this
              reporting process.</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                2. What benefits does this platform have for food businesses?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="ans">
              <div class="ans-head"><b>Reduce your reporting burden</b></div>
              The focus of animal advocacy groups is quickly shifting from policy adoption to policy enforcement and
              accountability, with both local and global organisations nowlaunching questionnaires, surveys, trackers,
              and benchmarking tools to assess progress.Food and hospitality companies around the world are proactively
              seeking to report and communicate their progress to these advocacy groups and other key stakeholders.
              WelfareProgress allows companies to publicly showcase their cage-free implementation progress on a single
              platform,
              and reduce the burden of filling out multiple questionnaires. We have got an agreement among key animal
              advocacy
              organisations to reference this platform in lieu of their individual progress surveys and questionnaires.
              <div class="ans-head"><b>Increase transparency</b></div>
              With hundreds of food businesses around the world committing to go cage-free, it’s
              now expected that companies report and disclose their progress on this issue.
              WelfareProgress helps companies demonstrate progress on their cage-free commitments through accurate,
              thorough and timely reporting, allowing them to provide credible information to investors,
              animal advocacy groups, suppliers and consumers.
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                3. What animal advocacy groups endorse this initiative?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="ans">Leading animal advocacy organisations endorse and support WelfareProgress.
              To make the reporting process more efficient and streamlined, they’ve agreed to no longer
              circulate their individual cage-free egg progress surveys and questionnaires, and instead
              reference this platform for all cage-free related progress information. We’ll continue engaging
              with these and other stakeholders to ensure ongoing alignment around cage-free reporting.
              These organisations include The Humane League, Mercy for Animals, Sinergia Animal, and Animal Equality.
              Organisations like Compassion in World Farming and FAIRR also support this platform and will use it as a
              reference
              for their scoring and benchmarking initiatives.</p>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                4. What if I receive a request for reporting cage-free progress through a different questionnaire or
                platform?
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p class="ans">Key animal advocacy organisations have agreed to use WelfareProgress in lieu of individual
              progress
              surveys and questionnaires. Please reach out to us if you receiverequests to report through a different
              system,
              and we will be happy to get in touch with that organization.</p>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>





  <section class="pt-20 relative block bg-blueGray-800">
    <div class="container mx-auto px-4 lg:pt-6 lg:pb-64">
      <div class="flex flex-wrap text-center justify-center">
        <div class="w-full lg:w-6/12 px-4">
          <h2 class="text-3xl font-semibold text-white">Who supports us</h2>
          <p class="text-lg leading-relaxed mt-4 mb-4 text-blueGray-400">
            Leading animal advocacy organisations endorse and support WelfareProgress.
            To make the reporting process more efficient and streamlined, they’ve agreed
            to no longer circulate their individual cage-free egg progress surveys and questionnaires,
            and instead reference this platform for all cage-free related progress information.
            We’ll continue engaging with these and other stakeholders to ensure ongoing alignment around cage-free
            reporting.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap mt-12 justify-center">
        <div class="w-full p-4 lg:w-3/12 px-4 text-center card-border">
          <div
            class="text-blueGray-800 p-3 wh-24 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
            <i class="material-icons logo-size">notes</i>
          </div>
          <h6 class="text-xl mt-5 font-semibold text-white">
            Planning
          </h6>
          <p class="mt-2 mb-4 text-blueGray-400">
            we help you develop your policy and sourcing criteria, and localised roadmaps to ensure you meet your
            cage-free targets and stakeholder expectations
          </p>
        </div>
        <div class="w-full p-4 lg:w-3/12 px-4 text-center card-border">
          <div
            class="text-blueGray-800 p-3 wh-24 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
            <i class="material-icons logo-size">settings</i>
          </div>
          <h5 class="text-xl mt-5 font-semibold text-white">
            Implementation
          </h5>
          <p class="mt-2 mb-4 text-blueGray-400">
            we work with you to implement your cage-free roadmaps, so you can meet your animal welfare targets in
            challenging Asianmarkets.
          </p>
        </div>
        <div class="w-full p-4 lg:w-3/12 px-4 text-center card-border">
          <div
            class="text-blueGray-800 p-3 wh-24 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
            <i class="material-icons text-xl logo-size">support</i>
          </div>
          <h5 class="text-xl mt-5 font-semibold text-white">Support</h5>
          <p class="mt-2 mb-4 text-blueGray-400">
            we help youcommunicate andreport yourcommitments andprogress, and narrate your impact story to key
            stakeholders. This platform is one tool we’ve developed to facilitate this. We also provide ongoing
            support
            for egg suppliers, risk management strategies, and regional monitoring.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>
