<div fxLayout="row" fxLayoutAlign="space-around center" class="pt-100">
    <div fxFlex="83%" fxFlex.md="83%" fxFlex.sm="90%" fxFlex.xs="95%">
        <div class="main-title mb-16">WelfareProgress.com Terms and Conditions</div>
        <p class="primary-text mt-6"><span class="prefix-bold">Please read these Terms and Conditions (“Terms”)
                carefully</span>
            as they contain important information about your legal rights, remedies, and obligations.
            By accessing or using Global Food Partners’ <a href="http://home.welfareprogress.com" target="_blank">WelfareProgress.com</a> reporting platform,
            you agree to comply with these Terms.</p>
        <p class="primary-text mt-6">These Terms constitute a <span class="prefix-bold">legally binding agreement</span>
            (“Agreement”) between you and Global Food Partners governing your access to and use of the Global Food
            Partners’
            <a href="http://home.welfareprogress.com" target="_blank">WelfareProgress.com</a> reporting platform, including any subdomains thereof, mobile apps, and any other
            websites through which Global Food Partners makes its services available (collectively,
            “<a href="http://home.welfareprogress.com" target="_blank">WelfareProgress.com</a>”). </p>
        <div class="primary-text mt-6">By accepting this Agreement and/or using or visiting <a href="http://home.welfareprogress.com" target="_blank">WelfareProgress.com</a>,
            <span class="prefix-bold">you are agreeing to adhere to all of these terms and conditions.</span>
            You further agree that by
            <ol class="primary-text mt-2" type="1">
                <li>Using the Platform’s website, mobile site, or any other related sites or services</li>
                <li>Creating a Platform account, or</li>
                <li>Otherwise indicating your acceptance of this Agreement, you are legally bound by its terms.</li>
            </ol>
        </div>
        <p class="primary-text mt-6">If you disagree with, or do not intend to abide by, any of the Terms of this
            Agreement or any future amendments, you must immediately delete your account and refrain from using
            Global Food Partners’ <a href="http://home.welfareprogress.com" target="_blank">WelfareProgress.com</a> reporting platform.</p>
        <p class="primary-text mt-6">When these Terms mention “Global Food Partners,” “we,” “us,” or “our,”
            we are referring to Global Food Partners, Inc. and any of its parents, subsidiaries, agents, or
            related organizations.</p>
        <ol class="primary-text mt-6" type="1">
            <div class="main-title2">
                <li>Scope of Global Food Partners’ <a href="http://home.welfareprogress.com" target="_blank">WelfareProgress.com</a> reporting platform</li>
            </div>
            <p class="primary-text mt-6"><a href="http://home.welfareprogress.com" target="_blank">WelfareProgress.com</a> is a centralised website for corporate reporting on
                cage-free
                egg commitment
                progress. Food and hospitality companies around the world are proactively seeking to report and
                communicate
                their progress
                to key stakeholders. <a href="http://home.welfareprogress.com" target="_blank">WelfareProgress.com</a> allows companies to publicly showcase their cage-free
                implementation progress on
                a single platform and reduce the burden of filling out multiple questionnaires. The platform is
                completely
                free of charge
                and available in multiple languages with options for global, regional, and country reporting.</p>
            <div class="main-title2">
                <li>Creating an Account</li>
            </div>
            <p class="primary-text mt-6">Food and hospitality companies are encouraged to visit the platform and create
                an
                account to report
                progress on their cage-free commitments. Creating an account is quick and easy. Simply visit
                <a href="http://home.welfareprogress.com" target="_blank">WelfareProgress.com</a> and
                follow the instructions to create your account today.</p>
            <p class="primary-text mt-6">Any company that has a cage-free commitment, even if you do not currently
                source
                cage-free eggs, may create an account.</p>
            <p class="primary-text mt-6">You may not create more than one (1) account per company unless Global Food
                Partners
                authorizes you to do so in writing. For operations or businesses across multiple regions or entities,
                you are permitted to delegate the reporting obligations to another member of your company to reflect
                each geographical area or separate business entity. You may not otherwise assign or transfer your
                Global Food Partners’ Account to another party.</p>
            <p class="primary-text mt-6"><span class="prefix-bold">You are responsible for maintaining the
                    confidentiality
                    and security of your
                    <a href="http://home.welfareprogress.com" target="_blank">WelfareProgress.com</a> account credentials</span> and you may not disclose your credentials to any
                third
                party.
                You must immediately notify Global Food Partners if you know or have any reason to suspect that your
                credentials have been lost, stolen, misappropriated, or otherwise compromised or in case of any actual
                or suspected unauthorized use of your <a href="http://home.welfareprogress.com" target="_blank">WelfareProgress.com</a> account.</p>
            <div class="main-title2">
                <li>Providing Your Information</li>
            </div>
            <p class="primary-text mt-6">Once you have created an account, you will be asked to provide information on
                your cage-free progress to date. By creating an account, you agree to provide <span
                    class="prefix-bold">truthful, accurate and
                    complete information</span> about your company’s cage-free progress. Failure to do so can result in
                your
                ineligibility to use the platform.</p>
            <p class="primary-text mt-6"><span class="prefix-bold">You alone are responsible for the accuracy and
                    completeness of the information
                    you provide on <a href="http://home.welfareprogress.com" target="_blank">WelfareProgress.com</a> and Global Food Partners in no way audits your operations or
                    verifies
                    the accuracy or completeness of the information you provide.</span></p>
            <div class="main-title2">
                <li>Publishing Your Information</li>
            </div>
            <p class="primary-text mt-6">Once you have completed reporting on your company’s cage-free progress, you are
                ready to take the
                next step of publishing your information in order to showcase your company’s efforts.</p>
            <p class="primary-text mt-6">Until you publish your information, no one, including Global Food Partners. is
                able
                to see
                the information you have entered. <span class="prefix-bold">Once your information is published, it will
                    become publicly available on the
                    <a href="http://home.welfareprogress.com" target="_blank">WelfareProgress.com</a> reporting platform and can be viewed by anyone.</span></p>
            <div class="main-title2">
                <li>Representations and Warranties</li>
            </div>
            <ol class="primary-text mt-6" type="a">By using the <a href="http://home.welfareprogress.com" target="_blank">WelfareProgress.com</a> reporting platform you hereby make
                the
                following representations and warranties:
                <li>That you are authorized by your company to enter into this legally binding Agreement, create an
                    account,
                    and provide the information requested</li>
                <li>That you are over 18 years of age and are able and permitted, under the laws of the country or
                    countries
                    in which you are registered, to enter into legally binding contracts</li>
                <li>That you have the authority to grant us all permissions and licenses provided in these Terms</li>
                <li>That you will provide truthful, accurate, and complete information about your company’s cage-free
                    progress</li>
                <li>That if you assign this work to another person in your company, you are ultimately responsible for
                    verifying the information provided and</li>
                <li>That you will not post, upload, publish, submit, or transmit any content that is fraudulent, false,
                    misleading (directly or by omission or failure to update information), or deceptive.</li>
            </ol>
            <div class="main-title2">
                <li>Disclaimer</li>
            </div>
            <p class="primary-text mt-6">You agree and acknowledge that Global Food Partners in not a position to audit
                or
                verify any of the
                information you have provided. As such, <span class="prefix-bold">you acknowledge that Global Food
                    Partners
                    has no control over and does not
                    guarantee the completeness or accuracy of any information you provide.</span></p>
            <p class="primary-text mt-6">Verification on the Internet is difficult, and we do not assume any
                responsibility
                for
                confirming the identity of any companies that register on our platform. Notwithstanding the above, for
                transparency
                and fraud prevention purposes, and as permitted by applicable laws, we may, but have no obligation to
                ask
                company
                representatives to provide a form of government identification or other information or undertake
                additional
                checks
                designed to help Global Food Partners verify their identities or backgrounds.</p>
            <div class="main-title2">
                <li>Liability</li>
            </div>
            <p class="primary-text mt-6"><span class="prefix-bold">You agree that you are solely liable for any and all
                    activities conducted through your
                    <a href="http://home.welfareprogress.com" target="_blank">WelfareProgress.com</a> account</span>, whether or not by you, and failure to abide by any of these
                Terms
                may result in suspension
                or termination of your account as well as any and all remedies available at law and equity.</p>
            <p class="primary-text mt-6"><span class="prefix-bold">You explicitly agree to fully indemnify and hold
                    Global
                    Food Partners harmless</span>
                from any loss, claim, suit, or liability arising out of or related in any way to your use of the
                Platform.
                Global Food Partners is not liable in any way for any misinformation or inaccurate or incomplete
                information
                you provide,
                or for any loss or liability associated with your use of the platform.</p>
            <p class="primary-text mt-6"><span class="prefix-bold">You hereby agree that by using the
                    <a href="http://home.welfareprogress.com" target="_blank">WelfareProgress.com</a>
                    reporting platform, you assume, fully and
                    without limitation, any and all risk to you or your business involving financial, reputational, or
                    other
                    harm.</span></p>
            <p class="primary-text mt-6">Furthermore, due to the nature of the Internet, Global Food Partners cannot
                guarantee the continuous
                and uninterrupted availability and accessibility of the <a href="http://home.welfareprogress.com" target="_blank">WelfareProgress.com</a> reporting platform. Global
                Food
                Partners
                may restrict the availability of the platform or certain areas or features thereof, if, at Global Food
                Partners’ discretion,
                this is necessary in light of capacity limits, the security or integrity of our servers, or to carry out
                maintenance measures
                that ensure the proper or improved functioning of the <a href="http://home.welfareprogress.com" target="_blank">WelfareProgress.com</a> platform.</p>
            <p class="primary-text mt-6"><span class="prefix-bold">You acknowledge and agree that your only right and
                    remedy
                    with respect to any problems or
                    dissatisfaction with the <a href="http://home.welfareprogress.com" target="_blank">WelfareProgress.com</a> reporting platform or these Terms is to terminate
                    your account and discontinue any use of the Platform.</span></p>
            <div class="main-title2">
                <li>No Agency</li>
            </div>
            <p class="primary-text mt-6">You agree and acknowledge that Global Food Partners is not acting as an agent,
                employee,
                or joint venture of your company.</p>
            <div class="main-title2">
                <li>Intellectual Property</li>
            </div>
            <p class="primary-text mt-6">The <a href="http://home.welfareprogress.com" target="_blank">WelfareProgress.com</a> reporting platform and any content therein may, in
                their
                entirety or in part,
                be protected by copyright, trademark, and/or other intellectual property laws of the United States and
                other
                countries.
                You acknowledge and agree that the <a href="http://home.welfareprogress.com" target="_blank">WelfareProgress.com</a> reporting platform, including all associated
                intellectual property
                rights, are the exclusive property of Global Food Partners and/or its licensors or authorized third
                parties.
            </p>
            <p class="primary-text mt-6">You agree not to use, copy, adapt, modify, prepare derivative works of,
                distribute,
                license, sell, transfer, publicly display, transmit, broadcast, or otherwise exploit the
                <a href="http://home.welfareprogress.com" target="_blank">WelfareProgress.com</a>
                reporting platform, or any content contained therein, except to the extent you are the legal owner of
                certain
                content or as expressly permitted in this Agreement.</p>
            <p class="primary-text mt-6">No licenses or rights are granted to you by implication or otherwise for any
                intellectual
                property owned or controlled by Global Food Partners or its licensors, except for the licenses and
                rights
                expressly
                granted in these Terms.</p>
            <p class="primary-text mt-6">By creating, uploading, posting, sending, receiving, storing, or otherwise
                making
                available any
                content on or through the <a href="http://home.welfareprogress.com" target="_blank">WelfareProgress.com</a> platform, you grant to Global Food Partners a
                non-exclusive,
                worldwide,
                royalty-free, irrevocable, perpetual (or for the term of the protection), sub-licensable and
                transferable
                license to
                such content to access, use, store, copy, modify, prepare derivative works of, distribute, publish,
                transmit, stream,
                broadcast, and otherwise exploit in any manner such content to provide and/or promote the
                <a href="http://home.welfareprogress.com" target="_blank">WelfareProgress.com</a> platform
                in any media or platform whether currently in existence or developed at a later date.</p>
            <p class="primary-text mt-6">You further represent and warrant that neither your content nor your posting,
                uploading,
                publication, submission, or transmittal of the content or Global Food Partners’ use of your content (or
                any
                portion thereof)
                will infringe, misappropriate, or violate a third-party’s patent, copyright, trademark, trade secret,
                moral
                rights, or other
                proprietary or intellectual property rights, or rights of publicity or privacy, or result in the
                violation
                of any applicable
                law or regulation.</p>
            <div class="main-title2">
                <li>Privacy Policy</li>
            </div>
            <p class="primary-text mt-6">Any personal identifying information collected by Global Food Partners will be
                secure and we will not
                share your information with anyone. For more information on how we collect and use your personal
                identifying
                information,
                please review our <a routerLink="/privacy-policy">Privacy Policy</a>, which can be found on the landing page of the <a href="http://home.welfareprogress.com" target="_blank">WelfareProgress.com</a>
                reporting platform.</p>
            <div class="main-title2">
                <li>Information Sharing</li>
            </div>
            <p class="primary-text mt-6">Notwithstanding the terms set out in section 10 of these Terms and/or Global
                Food
                Partners’
                Privacy Policy, you agree that Global Food Partners may, from time to time, compile company progress
                information and
                use that information in its marketing and program materials to promote the platform and to increase its
                reach.
                You further acknowledge that your user content may be displayed on other websites, in applications,
                within
                emails,
                and in online and offline advertisements. In no event will Global Food Partners make available any
                personal
                identifying information to a third party.</p>
            <div class="main-title2">
                <li>Modification of These Terms</li>
            </div>
            <p class="primary-text mt-6">Global Food Partners reserves the right to change or modify these Terms at any
                time
                in accordance
                with this provision. If we make changes to these Terms, we will post the revised Terms on the
                <a href="http://home.welfareprogress.com" target="_blank">WelfareProgress.com</a>
                reporting platform and update the “Last Updated” date at the bottom of these Terms. It is your
                obligation to
                be
                familiar with the most current version of these Terms, which are publicly available on the
                <a href="http://home.welfareprogress.com" target="_blank">WelfareProgress.com</a>
                reporting platform. If you disagree with the revised Terms, you may terminate this Agreement with
                immediate
                effect.
                If you do not terminate your Agreement upon the revised Terms becoming effective, your continued access
                to
                or use of
                the <a href="http://home.welfareprogress.com" target="_blank">WelfareProgress.com</a> reporting platform will constitute your acceptance of the revised Terms.</p>
            <div class="main-title2">
                <li>Miscellaneous Terms</li>
            </div>
            <ol class="primary-text mt-6" type="a">
                <li>To assist company representatives who speak different languages, any content on the
                    <a href="http://home.welfareprogress.com" target="_blank">WelfareProgress.com</a>
                    reporting platform may
                    be translated, in whole or in part, into multiple other languages. Global Food Partners cannot
                    guarantee
                    the accuracy or
                    quality of such translations. The <a href="http://home.welfareprogress.com" target="_blank">WelfareProgress.com</a> platform may contain translations powered by
                    Google. Google disclaims
                    all warranties related to the translations, express or implied, including any warranties of
                    accuracy,
                    reliability, and any
                    implied warranties of merchantability, fitness for a particular purpose, and non-infringement.
                    Global
                    Food Partners
                    also disclaims all warranties related to the translations, express or implied, including any
                    warranties
                    of accuracy,
                    reliability, and any implied warranties for merchantability, fitness for a particular purpose, and
                    non-infringement.</li>
                <li>The <a href="http://home.welfareprogress.com" target="_blank">WelfareProgress.com</a> platform may contain links to third-party websites or resources
                    (“Third-Party
                    Services”).
                    Such Third-Party Services may be subject to different terms and conditions and privacy practices.
                    You
                    are encouraged
                    to familiarize yourself with the terms and conditions of any third-party sites you visit, as they
                    may
                    differ
                    from these Terms. Global Food Partners is not responsible or liable for the availability or accuracy
                    of
                    such
                    Third-Party Services, the content, products, or services available from such Third-Party Services,
                    or a
                    party’s
                    compliance with the Third-Party Services. Links to such Third-Party Services are not an endorsement
                    by
                    Global Food Partners
                    of such Third-Party Services.</li>
                <li>You hereby agree that the laws of Singapore shall govern these Terms and this Agreement, regardless
                    of
                    conflicts of
                    laws principles, and that the courts of Singapore shall have sole jurisdiction over any disputes
                    arising
                    out of or
                    in connection with the <a href="http://home.welfareprogress.com" target="_blank">WelfareProgress.com</a> reporting platform, related sites, or these Terms.</li>
                <li>Except as they may be supplemented by additional terms and conditions, at Global Food Partners’ sole
                    discretion,
                    these Terms constitute the entire Agreement between Global Food Partners and you pertaining to the
                    subject matter
                    hereof, and supersede any and all prior oral or written understandings or agreements between Global
                    Food
                    Partners
                    and you in relation to the access to and use of <a href="http://home.welfareprogress.com" target="_blank">WelfareProgress.com</a> reporting platform.</li>
                <li>If any provision of these Terms is held to be invalid or unenforceable, such provision will be
                    struck
                    and will
                    not affect the validity and enforceability of the remaining provisions.</li>
                <li>Global Food Partners’ failure to enforce any right or provision in these Terms will not constitute a
                    waiver of such right or provision unless acknowledged and agreed to by us in writing. Except as
                    expressly set forth in these Terms, the exercise by either party of any of its remedies under these
                    Terms will be without prejudice to its other remedies under these Terms or otherwise permitted under
                    law.</li>
                <li>You may not assign, transfer, or delegate this Agreement and your rights and obligations hereunder
                    without Global Food Partners’ prior written consent. Global Food Partners may without restriction
                    assign, transfer, or delegate this Agreement and any rights and obligations hereunder, at its sole
                    discretion, with 30 days prior notice. Your right to terminate this Agreement at any time remains
                    unaffected.</li>
            </ol>
        </ol>
        <hr>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="83%" fxFlex.md="83%" fxFlex.sm="95%" fxFlex.xs="95%">
      <div class="mx-auto">
        <div class="flex flex-wrap text-center lg:text-left py-10">
          <div class="w-full lg:w-6/12">
            <h4 class="text-3xl font-semibold">Follow Us </h4>
            <h5 class=" mt-4 mb-2 heading-color">
              Copyright © 2021
              <a href="https://globalfoodpartners.com/" target="_blank"
                class="text-heading-color hover:text-blueGray-800">
                Global Food Partners
              </a>
            </h5>
            <div class="mt-4 ml-1 lg:mb-0 mb-6">
              <a href="https://www.linkedin.com/company/36019661/admin/" target="_blank"
                onclick="window.open('https://www.linkedin.com/company/36019661/admin/', '_blank'); return false;"
                class="bg-blueGray-200 heading-color  ">
                <img width="18" src="../../assets/img/GFP-icon-linkedin.png" />
              </a>


              <!-- <button
              class="bg-white text-lightBlue-600 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
              type="button">
              <i class="material-icons logo-size">facebook</i>
            </button>
            <button
              class="bg-white text-pink-400 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
              type="button">
              <i class="material-icons logo-size">facebook</i>
            </button>
            <button
              class="bg-white text-blueGray-800 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2"
              type="button">
              <i class="material-icons logo-size">facebook</i>
            </button> -->
            </div>
          </div>
          <div class="w-full lg:w-6/12 px-4">
        <div class="flex flex-wrap items-top mb-6">
          <div class="w-full lg:w-4/12 px-4 ml-auto">
            <!-- <span class="block uppercase text-blueGray-500 text-md font-semibold mb-2">
              Quick Links
            </span> -->
            <ul class="list-unstyled">
              <li class="footli">
                <a class="link" routerLink="">
                  Home
                </a>
              </li>
              <li class="footli">
                <a class="link" routerLink="/privacy-policy">
                  Privacy Policy
                </a>
              </li>
             
              <!-- <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-nm" href="#">
                  Quick Link 3
                </a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-nm" href="#">
                  Quick Link 4
                </a>
              </li> -->
            </ul>
          </div>
          <!-- <div class="w-full lg:w-4/12 px-4">
            <span class="block uppercase text-blueGray-500 text-md font-semibold mb-2">
              Other Resources
            </span>
            <ul class="list-unstyled">
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-nm" href="#">
                  Other Resources 1
                </a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-nm" href="#">
                  Other Resources 2
                </a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-nm" href="#">
                  Other Resources 3
                </a>
              </li>
              <li>
                <a class="text-blueGray-600 hover:text-blueGray-800 font-semibold block pb-2 text-nm" href="#">
                  Other Resources 4
                </a>
              </li>
            </ul>
          </div> -->
        </div>
      </div>
        </div>
        <!-- <hr class="my-6 border-blueGray-300" /> -->
        <!-- <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4 mx-auto text-center">
        <div class="text-nm text-blueGray-500 font-semibold py-1">
          Copyright © 2021
          <a href="https://globalfoodpartners.com/" target="_blank" class="text-blueGray-500 hover:text-blueGray-800">
              Global Food Partners
            </a>
        </div>
      </div>
    </div> -->
      </div>
    </div>
  </div>