<div fxLayout="row" fxLayoutAlign="space-around center" class="pt-100">
    <div fxFlex="83%" fxFlex.md="83%" fxFlex.sm="90%" fxFlex.xs="95%">
        <div class="main-title">Global Food Partners Privacy Policy</div>
        <p class="primary-text pt-4">This privacy policy explains how Global Food Partners uses the personal data we
            collect
            from you when you use any website or mobile apps, including subdomains thereof, through which
            Global Food Partners makes its information and services available. This website, our related websites,
            and any other mobile site or mobile application that links to this Privacy Policy (collectively,
            “the Site(s)”) are owned and operated by Global Food Partners, Inc., 1629 K Street,
            NW, Suite 300, Washington, DC 20006, USA.</p>
        <p class="primary-text mt-6">Topics:</p>
        <ul class="primary-text mt-2">
            <li>What data do we collect?</li>
            <li>How do we collect your data?</li>
            <li>How will we use your data?</li>
            <li>How do we store your data?</li>
            <li>Marketing</li>
            <li>What are your data protection rights?</li>
            <li>What are cookies?</li>
            <li>How do we use cookies?</li>
            <li>What types of cookies do we use?</li>
            <li>How to manage your cookies</li>
            <li>Privacy policies of other websites</li>
            <li>Changes to our privacy policy</li>
            <li>How to contact us</li>
            <li>How to contact the appropriate authorities</li>
        </ul>
        <div class="main-title2">GDPR Guiding Principles</div>
        <p class="primary-text mt-6">Global Food Partners complies with the six overall guiding principles of the GDPR,
            which are:</p>
        <ul class="primary-text mt-2">
            <li>Lawfulness, fairness, and transparency</li>
            <li>Purpose limitation</li>
            <li>Data minimization</li>
            <li>Accuracy</li>
            <li>Storage limitation and</li>
            <li>Integrity and confidentiality.</li>
        </ul>
        <div class="main-title2">What data do we collect?</div>
        <p class="primary-text mt-6">Global Food Partners collects the following data:</p>
        <ul class="primary-text mt-2">
            <li>Personal identification information (name, email address, phone number, etc.)</li>
            <li>Company identification data (name, registered address(es), phone numbers, etc.)</li>
            <li>Information about your company’s operations relating to animal protein production or sourcing and</li>
            <li>Information about your company’s progress towards meeting public commitments.</li>
        </ul>
        <div class="main-title2">How do we collect your data?</div>
        <p class="primary-text mt-6">You directly provide Global Food Partners with most of the data we collect. We
            collect data and process data when you:</p>
        <ul class="primary-text mt-2">
            <li>Register online on any of our websites for any of our services</li>
            <li>Voluntarily complete a survey or provide feedback or information on any of our services via email or on
                any of our websites</li>
            <li>Use or view our website via your browser’s cookies.</li>
        </ul>
        <div class="main-title2">How will we use your data?</div>
        <p class="primary-text mt-6">Global Food Partners collects your data so we can:</p>
        <ul class="primary-text mt-2">
            <li>Process and manage any account(s) you create as part of the services we offer</li>
            <li>Share any company information that you choose to reveal with relevant stakeholders and the general
                public to improve your visibility and marketability</li>
            <li>Collate sectoral reports without specifically identifying your company name and</li>
            <li>Email you with information on services or developments we think you will be interested in.</li>
        </ul>
        <div class="main-title2">How do we store your data?</div>
        <p class="primary-text mt-6">Global Food Partners securely stores your data on Amazon Web Service (AWS) or
            any other reputable service and are subject to these entities’ security precautions.</p>
        <p class="primary-text mt-6">Global Food Partners will keep your personal identifying and/or company
            data for the length of time that <a href="http://welfareprogress.com" target="_blank">WelfareProgress.com</a> is active and in use. Once this project has expired, we
            will delete your data.
        </p>
        <div class="main-title2">Marketing</div>
        <p class="primary-text mt-6">Global Food Partners would like to send you information about services of ours that
            we think you
            might like. If you have agreed to receive marketing communications, you may always opt out at a later date.
            You have the
            right at any time to stop Global Food Partners from contacting you for marketing purposes or giving your
            data to other
            stakeholders. If you no longer wish to be contacted for marketing purposes,
            please email us at <a href="mailto:WelfareProgress@globalfoodpartners.com">welfareprogress@globalfoodpartners.com</a>.
        </p>
        <div class="main-title2">What are your data protection rights?</div>
        <p class="primary-text mt-6">Global Food Partners would like to make sure you are fully aware of all of your
            data protection
            rights. Every user is entitled to the following:</p>
        <p class="primary-text mt-6"><span class="prefix-bold">The right to be informed</span>
            – This means anyone processing your personal data must
            make clear what they are processing, why, and who else the data may be passed to.</p>
        <p class="primary-text mt-6"><span class="prefix-bold">The right of access</span>
            – You have the right to request Global Food Partners for
            copies of your personal data. We may charge you a small fee for this service.</p>
        <p class="primary-text mt-6"><span class="prefix-bold">The right to rectification</span>
            – You have the right to request that Global Food Partners correct any information you believe is inaccurate.
            You also have the right to request Global Food Partners to complete the information you believe is
            incomplete.</p>
        <p class="primary-text mt-6"><span class="prefix-bold">The right to erasure</span>
            – You have the right to request that Global Food Partners erase your personal data, under certain
            conditions.</p>
        <p class="primary-text mt-6"><span class="prefix-bold">The right to restrict processing</span>
            – You have the right to request that Global Food Partners restrict the processing of your personal data,
            under certain conditions.</p>
        <p class="primary-text mt-6"><span class="prefix-bold">The right to object to processing</span>
            – You have the right to object to Global Food Partners’ processing of your personal data, under certain
            conditions.</p>
        <p class="primary-text mt-6"><span class="prefix-bold">The right to data portability</span>
            – You have the right to request that Global Food Partners transfer the data that we have collected to
            another organization,
            or directly to you, under certain conditions. If you make such a request, we have one month to respond to
            you.</p>
        <p class="primary-text mt-6"><span class="prefix-bold">Rights related to automated decision-making and
                profiling</span>
            – Data subjects have the right not to be subject to a decision based solely on automated processing.</p>
        <p class="primary-text mt-6">If you would like to exercise any of these rights, please contact us at our email:
            <a href="mailto:welfareprogress@globalfoodpartners.com">welfareprogress@globalfoodpartners.com</a>.</p>
        <p class="primary-text mt-6">You can also call us at: +65 8716 0470<br>
            Or write to us at: Global Food Partners, 1629 K Street, NW, Suite 300, Washington, DC 20006, USA.</p>
        <div class="main-title2">Cookies</div>
        <p class="primary-text mt-6">Cookies are text files placed on your computer to collect standard Internet log
            information and visitor
            behavior information. When you visit our websites, we may collect information from you automatically through
            cookies or
            similar technology</p>
        <p class="primary-text mt-6">For further information, visit allaboutcookies.org.</p>

        <div class="main-title2">How do we use cookies?</div>
        <p class="primary-text mt-6">Global Food Partners does not use any cookies.</p>
        <!-- <ul class="primary-text mt-2">
            <li>Keeping you signed in and</li>
            <li>Understanding how you use our website.</li>
        </ul>
        <div class="main-title2">What types of cookies do we use?</div>
        <p class="primary-text mt-6">There are a number of different types of cookies; however, our website uses:</p>
        <ul class="primary-text mt-2">
            <li>Functionality – Global Food Partners uses these cookies so that we recognize you on our website and
                remember
                your previously selected preferences. These could include what language you prefer and location you are
                in.
                A mix of first-party and third-party cookies are used.</li>
            <li>Advertising – Global Food Partners uses these cookies to collect information about your visit to our
                website(s),
                the content you viewed, the link(s) you followed and information about your browser, device, and IP
                address.
                Global Food Partners sometimes shares some limited aspects of this data with third parties for
                advertising
                and/or marketing purposes. We may also share online data collected through cookies with our advertising
                partners.
                This means that when you visit another website, you may be shown advertising based on your browsing
                patterns
                on our website.</li>
            <li>Add any other types of cookies we use</li>
        </ul>
        <div class="main-title2">How to manage cookies</div>
        <p class="primary-text mt-6">You can set your browser not to accept cookies, and the above website tells you how
            to remove
            cookies from your browser. However, in a few cases, some of our website features may not function as a
            result.</p> -->
        <div class="main-title2">Withdrawing your consent</div>
        <p class="primary-text mt-6">Where we rely on your consent as the legal basis for processing your personal
            information,
            you may withdraw your consent at any time simply by contacting us using the details at the end of this
            Policy.</p>
        <p class="primary-text mt-6">If you would like to withdraw your consent or object to receiving any direct
            marketing
            to which you opted-in, you can do so using the unsubscribe tool in that communication (if it is an email),
            or by writing to us or calling us using the details at the end of this Policy.</p>
        <p class="primary-text mt-6">If you have provided consent for your details to be shared with a third party,
            and wish to withdraw this consent, please also contact the relevant third party in order to amend your
            preferences.</p>
        <div class="main-title2">Privacy policies of other websites</div>
        <p class="primary-text mt-6">Global Food Partners’ website(s) may contain links to other websites.
            Our privacy policy applies only to our website, so if you click on a link to another website,
            you should read their privacy policy.</p>
        <div class="main-title2">Changes to our privacy policy</div>
        <p class="primary-text mt-6">Global Food Partners keeps its privacy policy under regular review and places any
            updates
            on this web page. If there are material changes to this Privacy Policy or in how Global Food Partners will
            use your
            data, we will notify you either by posting a notice of such changes before they take effect or by directly
            sending
            you a notification. We encourage you to periodically review this Privacy Policy to learn how Global Food
            Partners
            is processing your information. This privacy policy was last updated on 3 August 2021.</p>
        <div class="main-title2">How to contact us</div>
        <p class="primary-text mt-6">If you have any questions about Global Food Partners’ privacy policy and the data
            we hold on you,
            or you would like to exercise one of your data protection rights, please do not hesitate to contact us.</p>
        <p class="primary-text mt-6">You may email us at: <a href="mailto:team@globalfoodpartners.com">team@globalfoodpartners.com</a>.<br>
            You can also call us at: +65 8716 0470<br>
            Or write to us at: Global Food Partners, 1629 K Street, NW, Suite 300, Washington, DC 20006, USA.
            </p>
            <div class="main-title2">How to contact the appropriate authority</div>
            <p class="primary-text mt-6">Should you wish to report a complaint or if you feel that Global Food Partners has not addressed your
            concern in a satisfactory manner, you may contact the European Data Protection Supervisor.</p>
        <p class="primary-text mt-6">
            Email: <a href="mailto:edps@edps.europa.eu">edps@edps.europa.eu</a><br>
            Phone: +32 2 283 19 00<br>
            Address: Rue Wiertz 60<br>
            1047 Bruxelles/Brussel</p>
            <hr>
    </div>
</div>
